.footer {
  text-align: center;
  background-color: #E38B29;
  padding: 1px;
}

.footer a {
  color: #f7b15c;
}

.footer a:hover {
  color: #d48524;
}

.footer a:visited {
  color: #f7b15c;
}

.footer p {
  color: #FFD8A9;
  opacity: 0.4;
}
